#about-container {
  height: 100%;
  text-align: center;
  background-color: #eef2f3;
  position: relative;
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #354b60;
  padding: 75px 0 25px 0;
}

#about-container h2 {
}

.text-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: fit-content;
  text-align: left;
  line-height: 1.6;
}

.img-container {
  width: 45%;
}

.text-container h4 {
  font-size: 26px;
}

.text-container p {
  font-size: 16px;
}

.tool {
  width: 45%;
  height: 100%;
  color: #eef2f3;
  background-color: #676963;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.6;
}

.tool button {
  border: none !important;
  border-top: 1px solid #eef2f3 !important;
  background-color: #676963;
  color: #eef2f3;
  font-size: 20px;
  outline: none;
  width: 100%;
  height: 40px;
  /* display: block; */
  position: absolute;
  bottom: -1;
  right: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

.tool a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
}

.tool {
  transition: 0.5s;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.headshot {
  width: 75%;
  /* height: 90%; */
  border-radius: 10px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

li {
  margin-left: 20px;
}

.about-down {
  margin-top: 50px;
  font-size: 35px;
  color: #354b60;
}

@media only screen and (max-width: 1080px) {
  #about-container {
    height: 100%;
  }

  .text-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }

  .skills-container {
    width: 95%;
  }

  .img-container {
    width: 95%;
    margin: 0 auto;
  }
  .skills-container img {
    height: 50px;
    width: 50px;
  }
  .skills-container p {
    font-size: 16px;
  }

  .brand,
  .tool {
    width: 95%;
    margin: 20px 0;
  }
  .headshot {
    width: 100%;
  }
}
