#about-container {
  height: 100vh;
  text-align: center;
  background: rgb(39, 39, 40);
  background: linear-gradient(
    180deg,
    rgba(39, 39, 40, 1) 0%,
    rgba(66, 66, 68, 1) 100%
  );
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.skills-container {
  width: 90%;
  display: flex;
  justify-content: center;
  /* background-color: aqua; */
  margin: 0 auto;
}

.skills-container img {
  width: 125px;
  height: 125px;
  margin: 40px 60px;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill p {
  font-size: 20px;
  margin-bottom: 40px;
}

.text-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 85%;
  height: fit-content;
  margin: 0 auto;
  text-align: left;
  line-height: 1.6;
}

.text-container h4 {
  border-bottom: 1px solid white;
  width: fit-content;
}

.text-container p {
  font-style: italic;
}

.brand {
  width: 30%;
  height: 100%;
  color: #0093e9;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #0093e9;
}

.tool {
  width: 30%;
  height: 100%;
  color: #0093e9;
  background-color: white;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  border: 1px solid #0093e9;
}

.tool button {
  border: none !important;
  border-top: 1px solid #0093e9 !important;
  outline: none;
  width: 100%;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.tool a {
  text-decoration: none;
  color: inherit;
  font-size: 22px;
}
