#contact-container {
  height: 100vh;
  text-align: center;
  background: rgb(94, 94, 96);
  background: linear-gradient(180deg, rgb(68, 68, 70) 0%, rgb(83, 83, 83) 100%);
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#contact-container form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 35%;
}

#contact-container form * {
  margin: 5px;
  resize: none;
  outline: none;
  border-radius: 10px;
}
#contact-container form input,
textarea {
  padding: 10px;
  font-size: 18;
  border: none;
}

#contact-container button {
  width: 30%;
  align-self: flex-end;
  height: 40px;
  font-size: 22px;
  padding: none;
}

#contact-container p {
  margin: 40px 0 60px 0;
  font-size: 18px;
  color: #0093e9;
}
