nav {
  width: 100%;
  background-color: #1f1f1e;
  padding: 0 80px;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  margin: 0 40px;
  color: inherit;
  display: flex;
  align-items: center;
  height: 100%;
}

nav ul li a {
  text-decoration: none;
  color: #eef2f3;
  margin: 0 30px;
  border-bottom: 1px transparent;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #8d8569;
  border-bottom: 1px solid #8d8569;
}

nav ul li a:active {
  color: #8d8569;
  border-bottom: 1px solid #8d8569;
}

@media only screen and (max-width: 1080px) {
  nav {
    display: none;
  }
}
