* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.App {
  color: #eef2f3;
}

button {
  background: #eef2f3;
  color: #8d8569;
  border: 2px solid #8d8569 !important;
  transition: 1s !important;
  border-radius: 10px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
}

button:hover,
button:focus {
  box-shadow: inset 600px 0 0 1px #8d8569;
  color: #eef2f3;
  border: 2px solid #eef2f3;
}

h2 {
  width: fit-content;
  /* border-bottom: 1px solid inset; */
  font-size: 48px;
}
