.burger-nav {
  background-color: #1f1f1e;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1500;
}

.burger-nav ul {
  list-style: none;
  color: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.burger-nav ul li {
  margin: 15px 0;
  font-size: 28px;
}

.burger-nav ul li a {
  text-decoration: none;
  color: #eef2f3;
  border-bottom: 1px transparent;
  transition: 0.5s;
}

.burger-nav ul li a:hover {
  color: #8d8569;
  border-bottom: 1px solid #8d8569;
}

.close-icon {
  margin: 20px;
  font-size: 36px;
  color: #8d8569;
}
