#home-container {
  height: 100vh;
  text-align: center;
  background: rgb(33, 47, 60);
  background: linear-gradient(
    180deg,
    rgba(33, 47, 60, 1) 0%,
    rgba(70, 76, 81, 1) 100%
  );
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  overflow: hidden;
}

#home-container h1,
h2,
button {
  margin: 40px 0;
}

h1.home-h1 {
  font-size: 56px;
  animation: appearleft 3.5s forwards;
}

h2.home-h2 {
  font-size: 48px;
  animation: appearright 3.5s forwards;
  border: none;
}

#home-container span {
  color: #359bfa;
}

#home-container button {
  width: 200px;
  height: 75px;
  font-size: 28px;
  animation: appearbottom 3.5s forwards;
}

#home-container button a {
  text-decoration: none;
  color: inherit;
}

@keyframes appearleft {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appearright {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes appearbottom {
  0% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(0);
  }
}
