#home-container {
  height: 100vh;
  text-align: center;
  background: rgb(33, 47, 60);
  background: linear-gradient(
    180deg,
    rgba(33, 47, 60, 1) 0%,
    rgba(70, 76, 81, 1) 100%
  );
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

#home-container h1,
h2,
button {
  margin: 40px;
}

#home-container h1 {
  font-size: 56px;
  animation: animated-text 5s ease-in-out 0.5s;
  /* width: 22ch; */
  white-space: nowrap;
  overflow: hidden;
}
/* steps(28) */
#home-container h2 {
  font-size: 48px;
}

#home-container span {
  color: #359bfa;
}

#home-container button {
  width: 200px;
  height: 75px;
  font-size: 28px;
}

#home-container button a {
  text-decoration: none;
  color: inherit;
}

#home-container h2 {
  border: none;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
