#portfolio-container {
  height: 100%;
  text-align: center;
  /* background: rgb(66, 66, 68);
  background: linear-gradient(
    180deg,
    rgba(52, 52, 54) 0%,
    rgb(68, 68, 70) 100%
  ); */
  background-color: #354b60;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 0;
}

#portfolio-container a {
  text-decoration: none;
}

.card-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 350px;
  width: 350px;
  margin: 20px 50px;
  border: 1px solid white;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.5);
  /* position: relative; */
  line-height: 1.6;
  text-align: left;
  font-size: 18px;
  transition: 0.5s;
  border-radius: 10px;
}

.card-top {
  height: 75%;
  padding: 10px;
}

.card-top h4 {
  font-size: 26px;
}

.card-top p {
  margin: 20px 0;
}

.card-bottom {
  padding: 10px;
}

.card1 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  z-index: -1;
}

.card:hover {
  transform: scale(105%);
}
