#portfolio-container {
  height: 100%;
  text-align: center;
  background: rgb(33, 47, 60);
  background: linear-gradient(
    180deg,
    rgba(33, 47, 60, 1) 0%,
    rgba(70, 76, 81, 1) 100%
  );
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

#portfolio-container a {
  text-decoration: none;
}

.card-container {
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  height: 350px;
  width: 350px;
  margin: 50px;
}

.card1 {
  background-image:
  /* linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */ url(../../Assets/Screen\ Shot\ 2021-07-13\ at\ 5.59.50\ PM.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  z-index: -1;
}
