#portfolio-container {
  height: 100vh;
  text-align: center;
  background: rgb(33, 47, 60);
  background: linear-gradient(
    180deg,
    rgba(33, 47, 60, 1) 0%,
    rgba(70, 76, 81, 1) 100%
  );
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
