footer {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.footer-icon {
  font-size: 48px;
  margin: 10px 20px;
  color: #359bfa;
  cursor: pointer;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright p {
  margin: 10px 15px;
}

.copyright-icon {
  margin: 0 5px;
}
